In [1]:
import pandas as pd
import os
from functions.get_btc import *

In [2]:
df_btc = btc().copy()

In [3]:
csvs =[]
directory = 'data/datos'
for filename in os.listdir(directory):
    csvs.append(filename[:-4])

In [4]:
csvs

['btc',
 'dxy',
 'merged_addresses_active_count',
 'merged_addresses_new_non_zero_count',
 'merged_balances',
 'merged_fees_volume_sum',
 'merged_indicators_sopr',
 'merged_indicators_stock_to_flow_ratio',
 'merged_institutions_purpose_etf_aum_sum',
 'merged_institutions_purpose_etf_flows_sum',
 'merged_institutions_purpose_etf_holdings_sum',
 'merged_M2s',
 'merged_market_marketcap_usd',
 'merged_supply_active_more_1y_percent',
 'merged_transactions_count',
 'merged_transactions_size_mean',
 'Mining_Hashrate',
 'Mining_Total Transaction Fees (BTC)',
 'On-Chain_unique-addresses']

In [5]:
df = pd.DataFrame(csvs)
df.columns = ['names']

In [6]:
dic = {}
for e in csvs:
    name = f'{e}_df'
    name = pd.read_csv(f'data\datos\{e}.csv')
    
    try: 
        dic[e]=name[['Close','metric']].corr().iloc[0,1]   
    except:
        print(e, ': not available')

btc : not available
dxy : not available
merged_balances : not available
merged_M2s : not available

In [7]:
dic['merged_M2s']= 0.8341512979642502

In [8]:
dxy = pd.read_csv(f'data\datos\dxy.csv')
dxy = dxy[['Date', 'Close']]
dxy.columns=['Date','metric']

In [9]:
dxy = df_btc.merge(dxy, left_index = True, right_on= 'Date')

In [10]:
dic['dxy']=dxy[['Close','metric']].corr().iloc[0,1]

In [11]:
balances = pd.read_csv(f'data\datos\merged_balances.csv')

In [12]:
balances = balances.iloc[:,1:]

In [13]:
# for addresses

bal_dic=  {'<0.01':'less_than_0_01', '0.01 - 0.1': 'f_0_01_to_0_1' ,'0.1 - 1': 'f_0_1_to_1', '1 - 10' : 'f_1_to_10', '10 - 100' : 'f_10_to_100','100 - 1000' : 'f_100_to_1000', '1k - 10k' : 'f_1000_to_10000','10k+' : 'f_10000_to_100000'}

for e in bal_dic.values():
    ind = 'addressesCount_' + e
    dic[ind]=balances[['Close',ind]].corr().iloc[0,1]

In [66]:
# for Volume
for e in bal_dic.values():
    ind = 'totalVolume_' + e
    dic[ind]=balances[['Close',ind]].corr().iloc[0,1]

In [67]:
len(dic)

33

In [68]:
corr_raw= pd.DataFrame([e for e in range(33)])

In [69]:
corr_raw['corr_metric'] = dic.items()

In [70]:
corr_raw['corr_raw'] = dic.values()

In [72]:
import json

with open("correlations_raw.json", "w") as f:
    # Convert the dictionary to a JSON formatted string and write it to the file
    json.dump(dic, f)

In [16]:
# corr raw, corr z, corr z in 50.

In [17]:
#z_scores = (df['M2_sum'] -  df['M2_sum'].rolling(ma).mean()) /  df['M2_sum'].rolling(ma).std()
#y=z_scores.rolling(ma+7).mean()

In [18]:

dxy['z30']= ((dxy['metric'] - dxy['metric'].rolling(30).mean()) / dxy['metric'].rolling(30).std()).rolling(7).mean()

In [19]:
dxy.dropna(inplace = True)

In [20]:
dxy.head()

     Close  High   Low  Open      Volume        Date     metric       z30
445   4.61  4.81  4.59  4.80   94.640000  2011-10-07  78.720001  1.355751
446   4.51  4.51  3.99  3.99  132.500000  2011-10-10  77.599998  1.234996
447   4.10  4.10  3.98  3.98   78.080000  2011-10-11  77.580002  1.066628
448   3.93  3.99  3.93  3.95   79.523525  2011-10-12  76.989998  0.778728
449   3.97  3.97  3.93  3.93  109.621766  2011-10-13  76.989998  0.486615

In [21]:
dxy[['Close','z30']].corr().iloc[0,1]

0.05219001006370151

In [22]:
for e in range (90):
    a = f'z_{e}'
    dxy[a] = ((dxy['metric'] - dxy['metric'].rolling(e).mean()) / dxy['metric'].rolling(e).std()).rolling(7).mean()
    dxy[['Close',a]].corr().iloc[0,1]   

del dxy['z_0']
del dxy['z_1']
del dxy['z_2']
dxy.dropna(inplace = True)

In [41]:
lst={}
for e in range (3,90):
    lst[e]= dxy[['Close',f'z_{e}']].corr().iloc[0,1]

In [45]:
max(lst)

89

In [40]:
        st.write("The correlation coefficient with bitcoin's price is of : ", round(data['Mining_Hashrate'],2))

0.14622719237324144

In [83]:
dic

{'merged_addresses_active_count': 0.7041169393663363,
 'merged_addresses_new_non_zero_count': 0.6356823373061199,
 'merged_fees_volume_sum': -0.02393825402169299,
 'merged_indicators_sopr': 0.06470514154175576,
 'merged_indicators_stock_to_flow_ratio': 0.8604043693361753,
 'merged_institutions_purpose_etf_aum_sum': 0.7371657003316816,
 'merged_institutions_purpose_etf_flows_sum': 0.052865545503067435,
 'merged_institutions_purpose_etf_holdings_sum': -0.2374984753392627,
 'merged_market_marketcap_usd': 0.9998465171520863,
 'merged_supply_active_more_1y_percent': 0.3625094766659469,
 'merged_transactions_count': 0.4640914028383881,
 'merged_transactions_size_mean': 0.5536486709623619,
 'Mining_Hashrate': 0.7545137361364878,
 'Mining_Total Transaction Fees (BTC)': -0.02463970469218787,
 'On-Chain_unique-addresses': 0.6786323500499182,
 'merged_M2s': 0.8341512979642502,
 'dxy': 0.2857330759829787,
 'addressesCount_less_than_0_01': 0.7309208751791545,
 'addressesCount_f_0_01_to_0_1': 0.5637098421342339,
 'addressesCount_f_0_1_to_1': 0.49074004934346577,
 'addressesCount_f_1_to_10': 0.39971240634897914,
 'addressesCount_f_10_to_100': 0.7220104070034703,
 'addressesCount_f_100_to_1000': -0.4696891694979818,
 'addressesCount_f_1000_to_10000': 0.5882112032070773,
 'addressesCount_f_10000_to_100000': -0.814401293882881,
 'totalVolume_less_than_0_01': 0.7129026325946831,
 'totalVolume_f_0_01_to_0_1': 0.5425804929859651,
 'totalVolume_f_0_1_to_1': 0.47681921331725013,
 'totalVolume_f_1_to_10': 0.34252539623862066,
 'totalVolume_f_10_to_100': 0.7733483844107766,
 'totalVolume_f_100_to_1000': 0.6735545424484679,
 'totalVolume_f_1000_to_10000': 0.5943557723662132,
 'totalVolume_f_10000_to_100000': -0.601373294249351}

In [26]:
#Add a comparative with index of bank's stocks